{% extends 'base.html.twig' %}

{% block title %}Email Verified{% endblock %}

{% block body %}
    <h1>Your email has been verified!</h1>
    <p>You can now <a href="{{ path('app_login') }}">log in</a>.</p>
{% endblock %}
