{# templates/payment_cancel.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Paiement échoué{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Le paiement a échoué.</h1>
        <p>Votre paiement n'a pas pu être traité. Veuillez réessayer ou contacter le support.</p>
        <a href="{{ path('panier_show') }}" class="btn btn-warning">Retourner au panier</a>
    </div>
{% endblock %}
