{# templates/payment_success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Paiement réussi !</h1>
        <p>Merci pour votre achat. Votre paiement a été traité avec succès.</p>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
